body {
    background-color: #F9EBCF;
}

.page-container {
    max-width: 950px;
    background-color: #FFFFFF;
    margin: 10px auto;
    box-sizing: border-box;
}

.top-banner {
    height: 150px;
    width: 100%;
    background-image: url('../img/banner.jpg');
    background-position: center;
    font-family: 'Indie Flower', cursive;
    color: #361202;
    font-size: 2.4em;
    position: relative;
}

.admin-buttons {
    position: absolute;
    right: 33px;
    top: 33px;
    padding: 0px;
}

.admin-buttons a {
    background-color: #F9EBCF;
    border: 1px solid #361202;
    border-radius: 2px;
    color: #361202;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.admin-buttons a:hover {
    background-color: #361202;
    border: 1px solid #F9EBCF;
    color: #F9EBCF;
}

.navbar {
    height: 30px;
    width: 100%;
    background-color: yellow;
}

.blogpost a {
    text-decoration: none;
    color: #000000;
}

.banner-text {
    padding: 50px 30px;
    font-weight: bold;
}

.blog-content {
    float: left;
    width: 75%;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Charm', sans-serif;
}

.title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-info {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: lighter;
    color: #675F5B;
}

.post-text {
    margin-bottom: 10px;
}

.sidebar {
    float: left;
    width: 25%;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

hr {
    margin: 20px 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#edit-btn {
    background-image: url('../img/edit.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border: 0px;
    text-indent: -999999px;
}

.form-element {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-element input[type="text"] {
    border-radius: 2px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #361202;
    font-family: 'Charm', sans-serif;
}

.form-element textarea {
    border-radius: 2px;
    width: 100%;
    height: 350px;
    border: 1px solid #361202;
    resize: none;
    font-family: 'Charm', sans-serif;
}

.button {
    background-color: #F9EBCF;
    border: 1px solid #361202;
    border-radius: 2px;
    color: #361202;
    font-size: 17px;
    padding: 5px;
}

.button:hover {
    background-color: #361202;
    border: 1px solid #F9EBCF;
    color: #F9EBCF;
    cursor: pointer;
}