<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Charm&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" th:href="@{../css/index.css}">
</head>
<body>

<div class="page-container clearfix">

    <div class="top-banner">
        <div class="banner-text">Blog about nothing...</div>

        <div class="admin-buttons">
            <a th:href="@{/addPost}">Add post</a>
            <a>Logout</a>
        </div>

    </div>

    <div class="navbar">

    </div>

    <div class="blog-content" th:each="blogPost : ${blogPosts}">

        <div class="blogpost">
                <div class="title">

                    <a th:href="@{'/showBlogPost/' + ${blogPost.id}}"><span th:text="${blogPost.title}"></span></a>
                    <form method="POST" th:action="@{/editPost}">
                        <input type="hidden" name="id" th:value="${blogPost.id}">
                        <input type="submit" id="edit-btn">
                    </form>
                    <a><img th:src="@{../img/delete.png}"></a>

                </div>
            <div class="post-info" th:text="'Created by User || ' + ${blogPost.creationTime.toLocalDate()}">Created by User || 07-02-2019</div>
            <div class="post-text" th:text="${blogPost.postText}">Blog Post Text</div>
            <div class="post-info">Comments (2)</div>
            <hr>
        </div>

    </div>

    <div class="sidebar">
    </div>

</div>

<script th:src="@{../js/modal.js}"></script>
</body>
</html>